 /* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Solway:wght@300;400;500;700;800&display=swap');

/* Custom CSS variables */
:root {
  /* Colors */
  --color-powder-white: #f9f9f9;
  --color-black: #1f1f1f;
  --color-lemon-cream: #e8eabc;
  --color-light-green: #cddd77;
  --color-medium-green: #7aa520;
  --color-dark-green: #2c6c24;

  /* Fonts */
  --font-solway: 'Solway', sans-serif;

  /* Font sizes */
  --fs-1: 12px;
  --fs-2: 16px;
  --fs-3: 20px;
}

/* Custom classes */

.fontsize-1 {
  font-size: var(--fs-1);
}
.fontsize-2 {
  font-size: var(--fs-2);
}

.fontsize-3 {
  font-size: var(--fs-3);
}

/* Global resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
}

html, body {
  font-family: var(--font-solway);
  background-color: var(--color-powder-white);
  color: var(--color-black);
  font-size: var(--fs-2);
  line-height: 1.5;
}

/* Media queries for responsiveness  */
@media screen and (max-width: 768px) {
  html, body {
    font-size: var(--fs-1);
  }
}

@media screen and (min-width: 769px) and (max-width: 1199px) {
  html, body {
    font-size: var(--fs-2);
  }
}

@media screen and (min-width: 1200px) {
  html, body {
    font-size: var(--fs-3);
  }
}

/* Links */
a {
  color: var(--color-medium-green);
  text-decoration: none;
  transition: color 0.3s;
  cursor: pointer;
}

a:hover {
  color: var(--color-dark-green);
}

/* Lists */
ul {
  list-style: none;
}

li {
  list-style: none;
}

/* Buttons */
button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  background: none;
  transition: color 0.3s;
}

/* Images */
img {
  display: block;
  max-width: 100%;
  height: auto;
}
