@import url('https://fonts.googleapis.com/css2?family=Rubik&family=Fraunces&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --color-foreground: #171717;
  --color-powder-white: #f3f6f3;
  --color-light-blue: #9ebeed;
  --color-medium-blue: #4e90f5;
  --color-light-green: #94c000;
  --color-dark-green: #4b6b03;
  
  --font-fraunces: Fraunces, serif;
  --font-rubik: Rubik, sans-serif;
}

body {
  @apply bg-powder-white text-foreground font-rubik;
}
