.container {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    gap: 1rem;
}

.hero {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.heroHeader {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.heroImage {
    width: 100vw;
    height: auto;
}

.heroText {
    color: white;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    text-wrap: nowrap;
}
