.button {
    padding: 0.75rem 1rem;
    font-size: 1rem;
    background-color: var(--color-black);
    color: var(--color-lemon-cream);
    border-radius: 5px;
    transition: 0.3s;
}

.button:hover {
    background-color: var(--color-lemon-cream);
    color: var(--color-black);
    cursor: pointer;
}