.footer {
    background-color: var(--color-black);
    color: var(--color-light-green);
    padding: 2.25rem 2rem 2rem 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 6rem;
    mask: 
        linear-gradient(180deg,#0000 22px,#000 0),
        radial-gradient(22px,#000 calc(100% - 1px),#0000) top/40.7px 44px
}